In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
pd.read_csv('takehome_user_engagement.csv')

                 time_stamp  user_id  visited
0       2014-04-22 03:53:30        1        1
1       2013-11-15 03:45:04        2        1
2       2013-11-29 03:45:04        2        1
3       2013-12-09 03:45:04        2        1
4       2013-12-25 03:45:04        2        1
...                     ...      ...      ...
207912  2013-09-06 06:14:15    11996        1
207913  2013-01-15 18:28:37    11997        1
207914  2014-04-27 12:45:16    11998        1
207915  2012-06-02 11:55:59    11999        1
207916  2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [39]:
pd=data

In [40]:
data.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [46]:
pd.read_csv('takehome_users.csv,)

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [ ]:
#Problem to be solved

Identify which factors predict future user adoption.

Steps: We will follow following steps to address this problem,

Import the files,
Clean and wrangle the data and
Perform Recursive feature elimination (RFE) to identify top factors which will predict future adoption.